@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Raleway, sans-serif;
  }
  li {
    @apply cursor-pointer;
    @apply px-4;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(142, 158, 171, 0.9),
    rgba(238, 242, 243, 0.9)
  ) !important;
}
